@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
body {
  font-family:'Raleway',sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.42;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;
}
ul {
  font-family: 'roboto', sans-serif;
  font-size: 22px;
  font-weight:bold;
}